@import "tailwindcss";

:root {
    --primary: #FF8345;
    --dark: #183B56;
    --light: #FFFFFF;
}

@theme {
    --color-primary: var(--primary);
    --color-dark: var(--dark);
    --color-light: var(--light);
}