@import "tailwindcss";

:root {
    --primary: #FF8345;
    --secondary: #7BC678;
    --dark: #183B56;
    --light: #F9FDFB;
    --muted: #5A7184;
    --subtle: #3F475C;
}

@theme {
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-dark: var(--dark);
    --color-light: var(--light);
    --color-muted: var(--muted);
    --color-subtle: var(--subtle);
}

.button {
    @apply rounded-[10px] px-10 py-[22px] text-[16px] font-bold cursor-pointer;
}

.button-primary {
    @apply bg-primary text-light
}

.button-primary:hover {
    @apply bg-primary/80
}

.button-secondary {
    @apply bg-secondary text-light
}

.button-secondary:hover {
    @apply bg-secondary/80
}

.button-light {
    @apply bg-light text-dark
}

.button-light:hover {
    @apply bg-dark/80 text-light
}