@import "tailwindcss";

:root {
    --primary: #FF8345;
    --dark: #183B56;
    --light: #F9FDFB;
    --muted: #5A7184;
    --subtle: #3F475C;
}

@theme {
    --color-primary: var(--primary);
    --color-dark: var(--dark);
    --color-light: var(--light);
    --color-muted: var(--muted);
    --color-subtle: var(--subtle);
}

.button {
    @apply rounded-[10px] px-10 py-[22px] text-[16px] font-bold;
}

.button-primary {
    @apply bg-primary text-light
}

.button-secondary {
    @apply bg-light text-dark
}