/* NAVBAR SHRINK EFFECT */
header {
    transition: all .3s ease;
}

/* height shrink */
header .header-inner {
    height: 80px;
    /* h-20 */
    transition: height .3s ease, box-shadow .3s ease, backdrop-filter .3s ease;
}

@media (min-width: 768px) {
    header .header-inner {
        height: 123px;
    }
}

/* saat discroll */
header.scrolled {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.85);
    /* sesuaikan warna bg-light */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.06);
}

header.scrolled .header-inner {
    height: 64px;
    /* h-16 */
}

@media (min-width: 768px) {
    header.scrolled .header-inner {
        height: 100px;
    }
}